extends layout

block meta
  meta(property="fileName", content=fileName)

block content
  h1= chatName
  p= messageCount
  svg(id='total', class='svg')
  svg(id='monthly', class='svg')
  // each m in messages
  //  p= m.content
  script(src='/scripts/graph.js')
