.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.svg {
    height: 200px;
    width: 300px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}