body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button-link {
  background: none;
  border: none;
}
.all-button {
  width:120px;
  height:50px;
  text-align:center;
  line-height:1.1em;
  font-size:1.1em;
}
.container-search {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.container-chat {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.container-content {
  flex-grow:1;
}

.message-left, .message-right {
  display: inline-block;
  border-radius: 1em;
  padding: 0.6em;
  margin: 0.25em;
  color: white;
}

.message-left {
  background-color: #6c757d;
}

.message-right {
  background-color: #00B7FF;
  float:right
}
#more {display: none;}

.showParticipantsOnHover { 
  display: none;
}

a:hover .showParticipantsOnHover {
  display: block;
  text-decoration: none;
}